.App {
  text-align: center;
  margin-top: 150px;
  font-family: Readex Pro;
}
body {
  background-color:aquamarine
}

h2 {
  font-size: 50px;
}

span {
  font-size: 200px;
}

button {
  padding: 25px 50px;
  margin: 10px;
  background-color:burlywood;
  border-radius: 15px;
  font-size: 20px;
}

